body {
    font-family: 'Lucida Console', monospace;
    font-weight: bold;
    background-color: #268bd2;
    color: white;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 300%;
}

/* p { */
/* /\*     font-size: xx-large; *\/ */
/*     font-size: 400%; */
/*     text-align: center; */
/* /\*     background-color: red; *\/ */
/*     width: 100%; */
/* } */

p {
    font-size: 150%;
}

li, dt, dd {
    text-align: left;
    font-size: 200%;
}

dd {
    color: yellow;
}
dt {
  float:left;
  clear:left;
  width:170px;
}
dd {
  float:left;
/*   width:500px; */
}

#pageCount {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: large;
}

#imgHaskell, #imgPHP {
    position: absolute;
    top: 100px;
    right: 100px;
}

#imgCat, #imgJS {
    position: absolute;
    top: 200px;
    right: 100px;
}

#imgSake {
    position: absolute;
    top: 100px;
    right: 0;
}

#imgShoge {
    position: absolute;
    top: 200px;
    right: 0;
}

.bRed {
    background-color: red;
}
.bGreen {
    background-color: green;
}
.bYellow {
    background-color: yellow;
}

.boxH100 {
    height: 50%;
    text-align: center;
}

.fontYellow {
    color: yellow;
}

pre {
    padding: 3px;
    background-color: black;
    color: lime;
    font-size: 120%;
}